.nav-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.nav-item {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 25px; /* 글자 크기 증가 */
  display: flex;
  align-items: center; /* 세로 정렬 */
}

.nav-item:hover {
  color: #9bce26;
}

.video-icon {
  width: 24px; /* 아이콘 크기 설정 */
  height: 24px; /* 아이콘 크기 설정 */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M23 7l-7 5 7 5V7zM1 5h14v14H1z"/></svg>') no-repeat center center;
  background-size: cover;
  margin-right: 10px; /* 텍스트와의 간격 */
}
